# PowerShell .envrc test
$env:HELLO = "world"
$env:POWERSHELL_TEST = "true"

# Convert environment to JSON format expected by direnv
$envHash = @{}
Get-ChildItem Env: | ForEach-Object { $envHash[$_.Name] = $_.Value }
$envHash | ConvertTo-Json -Compress