direnv_load env \
	LS_COLORS='*.ogg=38;5;45:*.wav=38;5;45' \
	LESSOPEN='||/usr/bin/lesspipe.sh %s' \
	THREE_BACKSLASHES='\\\' \
	bash -c "echo to stdout && echo to stderr >&2 && direnv dump"

log_status "direnv_load would previously hang if DIRENV_DUMP_FILE_PATH was not opened."
log_status "Expect the following to emit an error (which we suppress)."
log_status "As long as it doesn't hang, we're okay."
direnv_load true || true
