export FOO_OR_NAN=${FOO:-NaN}
export FOOX_OR_NAN=${FOOX:-NaN}

export BAR_OR_NAN=${BAR:-NaN}

val_loaded=$((FOOX%3))
shell_specific bash "echo 'FOOX=\$((FOOX+1000))'"         'FOOX=$((FOOX%3))'
shell_specific zsh  "echo 'FOOX=\$((FOOX+1000))'"         'FOOX=$((FOOX%3))'
shell_specific fish 'echo "set FOOX (math $FOOX + 1000)"' 'set FOOX (math $FOOX "%" 3)'
