# Set FOO to a random value x, don't export it. On unload, set to x+100
val_loaded=$((RANDOM%100))
val_unloaded=$(($val_loaded + 100))

shell_specific bash "echo FOO=$val_unloaded"          "FOO=$val_loaded"
shell_specific zsh  "echo FOO=$val_unloaded"          "FOO=$val_loaded"
shell_specific fish "echo 'set -g FOO $val_unloaded'" "set -g FOO $val_loaded"

# Set BAR as a random value and export it in the normal way.
export BAR=$((RANDOM%100))

# Set FOOX to a random value, and't export it. On unload add 100 to its current value
# NB. The value of FOOX will be observable from the next rc that is loaded.
val_loaded=$((RANDOM%100))

shell_specific bash "echo 'FOOX=\$((FOOX+100))'"                "export FOOX=$val_loaded"
shell_specific zsh  "echo 'FOOX=\$((FOOX+100))'"                "export FOOX=$val_loaded"
shell_specific fish "echo 'set -x -g FOOX (math \$FOOX + 100)'" "set -x -g FOOX $val_loaded"
