# Set FOO to a random value x, don't export it. On unload, set to x+100
val_loaded=$((RANDOM%100))
val_unloaded=$(($val_loaded + 100))
shell_specific "$TARGET_SHELL" "echo FOO=$val_unloaded" "FOO=$val_loaded"

# Set BAR as a random value and export it in the normal way.
export BAR=$((RANDOM%100))

# Set FOOX to a random value, and't export it. On unload add 100 to its current value
# NB. The value of FOOX will be observable from the next rc that is loaded.
val_loaded=$((RANDOM%100))

shell_specific "$TARGET_SHELL" "echo 'FOOX=\$((FOOX+100))'" "export FOOX=$val_loaded"
