# test is also used by make test-cygpath-bench
PATH_add "bin"
PATH_add "foo"
PATH_add "bar"
PATH_add "baz"
PATH_add "bin1"
PATH_add "foo1"
PATH_add "bar1"
PATH_add "baz1"
PATH_add "bin2"
PATH_add "foo2"
PATH_add "bar2"
PATH_add "baz2"
PATH_add "bin3"
PATH_add "foo3"
PATH_add "bar3"
PATH_add "baz3"
PATH_add "bin4"
PATH_add "foo4"
PATH_add "bar4"
PATH_add "baz4"
PATH_add "bin5"
PATH_add "foo5"
PATH_add "bar5"
PATH_add "baz5"
export HELLO=world
export FILE1="C:\\Windows\\System32\\cmd.exe"
export FILE2="C:/Windows/System32/cmd.exe"
export FILE3="/c/Windows/System32/cmd.exe"
export LIST1="C:\\Windows\\System32;C:\\Windows\\System32"
export LIST2="C:/Windows/System32;C:/Windows/System32"
export LIST3="/c/Windows/System32:/c/Windows/System32"
