<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title ? page.title + ' - direnv' : site.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>direnv</h1>
        <p>Unclutter your .profile</p>
        <p class="view"><a href="https://github.com/zimbatm/direnv">View the Project on GitHub <small>zimbatm/direnv</small></a></p>
        <ul>
          <li><a href="https://github.com/zimbatm/direnv/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/zimbatm/direnv/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/zimbatm/direnv">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/zimbatm">zimbatm</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
