name: Nix
on:
  push:
    branches: [ master ]
  pull_request: {}
permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v17

      - name: Build
        run: nix-build

        # Run the more comprehensive test suite with nix because we have
        # access to all the build dependencies.
      - name: Test
        run: NIX_PATH=nixpkgs=$PWD/nix nix-shell --pure --run "make test"

        # Test that the release generation works
      - name: Test Dist
        run: NIX_PATH=nixpkgs=$PWD/nix nix-shell --pure --run "make dist"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
